@*@model TwaWallet.Model.RecurringPayment*@
@model TwaWallet.Web.Models.RecurringPaymentViewModels.RecurringPaymentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RecurringPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Earnings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Earnings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Id)
            </dd>*@
        <dt>
            @*@Html.DisplayNameFor(model => model.Category)*@
            @Html.Display("Category")
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Category.Description)*@
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Interval)*@
            @Html.Display("Interval")
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Interval.Description)*@
            @Html.DisplayFor(model => model.IntervalDescription)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.PaymentType)*@
            @Html.Display("PaymentType")
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.PaymentType.Description)*@
            @Html.DisplayFor(model => model.PaymentTypeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @*<a asp-action="Create" asp-route-id="@{
        new TwaWallet.Model.Record
        {
            //ApplicationUserId = Model.apli,
            CategoryId = Model.CategoryId,
            Cost = Model.Cost,
            Date = DateTime.Now,
            Description = Model.Description,
            Earnings = Model.Earnings,
            PaymentTypeId = Model.PaymentTypeId,
            Tag = Model.Tag,
            Warranty = Model.Warranty
        };
        }">Create extra payment</a>*@

    @*@Html.ActionLink("Link Name", "Create", "Records", null, new TwaWallet.Model.Record
            {
                //ApplicationUserId = Model.apli,
                CategoryId = Model.CategoryId,
                Cost = Model.Cost,
                Date = DateTime.Now.AddDays(-2),
                Description = Model.Description,
                Earnings = Model.Earnings,
                PaymentTypeId = Model.PaymentTypeId,
                Tag = Model.Tag,
        Warranty = Model.Warranty
        })*@
<p>
    <a asp-action="GeneratePayment" asp-route-id="@Model.Id">Generate payment</a>
    @*@{
        //Response.Redirect("~/Records/Create");
        @Html.ActionLink("Create", "Records");
    }*@
</p>
    @*
    Use the overloads that take the controller name too...

    return RedirectToAction("Index", "MyController");
    and

    @Html.ActionLink("Link Name", "Index", "MyController", null, null)
    *@
</div>
