@*@model IEnumerable<TwaWallet.Model.RecurringPayment>*@
@model IEnumerable<TwaWallet.Web.Models.RecurringPaymentViewModels.RecurringPaymentViewModel>

@{
    ViewData["Title"] = "Recurring Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/recurring-payments-index.css" asp-append-version="true" />
}

<h4>Recurring payments</h4>

<p>
    <a asp-action="Create" class="btn btn-default btn-create-green" title="Create New">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a asp-action="GenerateAllActiveRecurringPayments" class="btn btn-default" title="Generate all active recurring payments">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</p>

<div>
    <label>Počet aktivních položek: </label>
    <span>@Model.Where(m => m.IsActive).Count()</span>
    <label>Celková cena: </label>
    <span>@string.Format("{0:C}", Model.Where(m => m.IsActive).Sum(m => m.Cost))</span>
</div>

<div class="table-responsive">
<table class="table recurring-payments-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Earnings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Warranty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Category)*@
                    @Html.Display("Category")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Interval)*@
                    @Html.Display("Interval")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.PaymentType)*@
                    @Html.Display("PaymentType")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.Earnings ? "earnings-true" : "earnings-false")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Earnings)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Warranty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntervalDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentTypeDescription)
                    </td>
                    <td>
                        <a asp-action="GeneratePayment" asp-route-id="@item.Id" title="Generate payment">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id" title="Details">
                            <span class="glyphicon glyphicon-search"></span>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
