@model TwaWallet.Web.Models.Record.FilterIM
@{
    ViewData["Title"] = "IndexFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexFilter</h2>

<form asp-action="Index2" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: @*<input type="text" name="SearchString" value="@ViewData["currentFilter"]" />*@
            Find by name: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            @*<input asp-for="Date" class="form-control" />*@
            @*<input type="Date" class="form-control" name="DateFrom" value="@ViewData["dateFrom"]" />*@
            <input type="Date" class="form-control" name="DateFrom" value="@ViewBag.DateFrom" />
            @*<input type="Date" class="form-control" name="DateTo" value="@ViewData["dateTo"]" />*@
            <input type="Date" class="form-control" name="DateTo" value="@ViewBag.DateTo" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index2">Back to Full List</a>
        </p>
    </div>
</form>