@model IEnumerable<TwaWallet.Model.Record>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        table.table {
            /*width: 100%;
            height:200px;*/
            /* width: 100%; */ /* Optional */
            /* border-collapse: collapse; */
            border-spacing: 0;
            border: 2px solid black;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 30px;
            line-height: 30px;
            /* text-align: left; */
        }

        table.table tbody {
            height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                /* width: 20%; */ /* Optional */
                border-right: 1px solid black;
                /* white-space: nowrap; */
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }
    </style>*@

@*<style>
        table.scroll {
            /*width: 100%;
            height:200px;*/
            /* width: 100%; */ /* Optional */
            /* border-collapse: collapse; */
            border-spacing: 0;
            border: 2px solid black;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 30px;
            line-height: 30px;
            /* text-align: left; */
        }

        table.scroll tbody {
            height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                /* width: 20%; */ /* Optional */
                border-right: 1px solid black;
                /* white-space: nowrap; */
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }
    </style>*@

<h2>Index</h2>

<p>
    <div >
        @*@Html.ActionLink("text of link", "Action", "Controller", new { Style = "color:Green" }, null)*@
        <a asp-action="Create">Create New</a>
        @*<a asp-action="Create2">Create New</a>*@
    </div>
</p>

<span>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <span @*class="visible-lg-inline-block" *@>Hledej: </span>
            <input @*class="visible-lg-inline-block" *@ type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            <br />
            <span @*class="visible-lg-inline-block" *@>Od: </span>
            <input type="Date" @*class="visible-lg-inline-block" *@ name="DateFrom" value="@ViewBag.DateFrom?.Date?.ToString("yyyy-MM-dd")" />
            <span @*class="visible-lg-inline-block" *@>Do: </span>
            <input type="Date" @*class="visible-lg-inline-block" *@ name="DateTo" value="@ViewBag.DateTo?.ToString("yyyy-MM-dd")" />
            <br />
            <span>Earnings: </span>
            <input type="checkbox" name="Earnings" value="true" checked="@ViewBag.Earnings" />
            <input type="submit" value="Search" class="btn btn-default" />
            <br />
        </div>
    </form>
    @*https://www.tuomistolari.net/blog/2013/10/24/razor-sharp-csv-generation.html*@
    @*https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1*@
    @*https://stackoverflow.com/questions/33431282/asp-net-mvc-proper-usage-of-view-model-and-command-pattern*@
    @*<button type="button" name="btnExport" onclick="exportClick" value="Export" />*@
</span>
<div>
    <label>Počet položek: </label>
    <span>@Model.Count()</span>
    <label>Celková cena: </label>
    <span>@Model.Sum(m => m.Cost)</span>
</div>


@*<table class="table">*@

@*<div style="height:200px;overflow-y:scroll">*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th></th>
        </tr>
    </thead>
    @*<div style="overflow-y: scroll; height:400px;">*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Earnings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*</div>*@
