@model IEnumerable<TwaWallet.Model.Record>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        table.table {
            /*width: 100%;
            height:200px;*/
            /* width: 100%; */ /* Optional */
            /* border-collapse: collapse; */
            border-spacing: 0;
            border: 2px solid black;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 30px;
            line-height: 30px;
            /* text-align: left; */
        }

        table.table tbody {
            height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                /* width: 20%; */ /* Optional */
                border-right: 1px solid black;
                /* white-space: nowrap; */
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }
    </style>*@

@*<style>
        table.scroll {
            /*width: 100%;
            height:200px;*/
            /* width: 100%; */ /* Optional */
            /* border-collapse: collapse; */
            border-spacing: 0;
            border: 2px solid black;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 30px;
            line-height: 30px;
            /* text-align: left; */
        }

        table.scroll tbody {
            height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                /* width: 20%; */ /* Optional */
                border-right: 1px solid black;
                /* white-space: nowrap; */
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }
    </style>*@

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    @*<a asp-action="Create2">Create New</a>*@
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: @*<input type="text" name="SearchString" value="@ViewData["currentFilter"]" />*@
            <p  class="visible-lg-inline-block">Hledej: </p><input class="visible-lg-inline-block" type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            <br />
            @*<input asp-for="Date" class="form-control" />*@
            @*<input type="Date" class="form-control" name="DateFrom" value="@ViewData["dateFrom"]" />*@
            <p  class="visible-lg-inline-block">Od: </p><input type="Date" class="visible-lg-inline-block" name="DateFrom" value="@ViewBag.DateFrom?.Date?.ToString("yyyy-MM-dd")" />
            @*@Html.TextBoxFor(@ViewBag.DateFrom, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })*@
            @*@Html.EditorFor(@ViewBag.DateFrom, )*@
            @*<input type="Date" class="form-control" name="DateTo" value="@ViewData["dateTo"]" />*@
            <p class="visible-lg-inline-block">Do: </p><input type="Date" class="visible-lg-inline-block" name="DateTo" value="@ViewBag.DateTo?.ToString("yyyy-MM-dd")" />
            <br />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


@*<table class="table">*@

@*<div style="height:200px;overflow-y:scroll">*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th></th>
        </tr>
    </thead>
    @*<div style="overflow-y: scroll; height:400px;">*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Earnings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*</div>*@
