@model IEnumerable<TwaWallet.Model.Record>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Records</h2>

<p>
    <div >
        <a asp-action="Create">Create New</a>
    </div>
</p>

<span>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <span @*class="visible-lg-inline-block" *@>Hledej: </span>
            <input @*class="visible-lg-inline-block" *@ type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            @*<div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label">Payment type</label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="@ViewBag.PaymentTypeId"></select>
            </div>*@
            @*<span asp-for="PaymentTypeId" class="control-label">Payment type</span>*@
            @*<select asp-for="PaymentTypeId" class="form-control" asp-items="@ViewBag.PaymentTypeId"></select>*@
            <br />
            <span>Od: </span>
            <input type="Date" name="DateFrom" value="@ViewBag.DateFrom?.Date?.ToString("yyyy-MM-dd")" />
            <span>Do: </span>
            <input type="Date" name="DateTo" value="@ViewBag.DateTo?.Date?.ToString("yyyy-MM-dd")" />
            <br />
            <span>Earnings: </span>
            <input type="checkbox" name="Earnings" value="true" checked="@ViewBag.Earnings" />
            <input type="submit" value="Search" class="btn btn-default" />
            <br />
        </div>
    </form>
    @*https://www.tuomistolari.net/blog/2013/10/24/razor-sharp-csv-generation.html*@
    @*https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1*@
    @*https://stackoverflow.com/questions/33431282/asp-net-mvc-proper-usage-of-view-model-and-command-pattern*@
    @*<button type="button" name="btnExport" onclick="exportClick" value="Export" />*@
</span>
<div>
    <label>Počet položek: </label>
    <span>@Model.Count()</span>
    <label>Celková cena: </label>
    <span>@string.Format("{0:C}", Model.Sum(m => m.Cost))</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Earnings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
